<div class="row">
<div class= "span6">
	<table class="table table-striped">
		<thead>
			<tr>
				<th><p class ="lead">Nombre</p></th>
				<th><p class ="lead">Email</p></th>
				<th><p class ="lead">Instructor</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p class ="lead"><%= @user.nombre %></p></td>
				<td><p class ="lead"><%= @user.email %></p></td>
				<td><p class ="lead"><%= @user.tipo_usuario? ? "Si" : "No" %></p></td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="btn btn-inverse"><%=link_to "Back", users_path %></div>
</div>
</div>